.card {
  border: 1px solid rgb(211, 211, 211);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(139, 139, 139);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image{
  object-fit: cover;
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

.card .card-title {

  font-family: arial,sans-serif;
  margin: 0;
  color: rgb(122, 122, 122);
}

.card .card-text {
  font-family: arial,sans-serif;
  color:rgb(122, 122, 122);
}

